<a class="btn btn-primary mx-auto my-5" href="/utilisateurs/ajoutuser">S'inscrire</a>

<a class="btn btn-primary mx-auto my-5" href="/utilisateurs/login">Se connecter</a>

<a href="/utilisateurs/logout">Se déconnecter</a>

<a class="btn btn-primary btn-xl js-scroll-trigger mt-5" href="/ateliers">Liste des Ateliers</a>

<a class="btn btn-primary btn-xl js-scroll-trigger mt-5" href="/ateliers/ajoutatelier">Ajouter un atelier</a>