<a class="btn mx-auto my-5" href="/utilisateurs/ajoutuser">S'inscrire</a>

<a class="btn mx-auto my-5" href="/utilisateurs/login">Se connecter</a>

<a href="/utilisateurs/logout">Se déconnecter</a>

<a class="btn btn-xl js-scroll-trigger mt-5" href="/ateliers">Liste des Ateliers</a>

<a class="btn btn-xl js-scroll-trigger mt-5" href="/ateliers/ajoutatelier">Ajouter un atelier</a>

<a href="/reservations">reserver</a>

<a class="btn btn-xl js-scroll-trigger mt-5" href="/utilisateurs/listedescours">liste de mes cours</a>
<a class="btn btn-xl js-scroll-trigger mt-5" href="/utilisateurs/listedescours">liste de mes cours</a>

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/utilisateurs/ajoutuser">S'inscrire</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/utilisateurs/login">Se connecter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/utilisateurs/logout">Se déconnecter</a>
    </li>
</ul>
