<footer class="footer-distributed bg-light" id="contact">

        <div class="footer-left">

            <h3>Marmite<span>School</span>
            </h3>


            <p class="footer-company-name">MarmiteSchool &copy; 2018</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p>
                    <span>21 rue Simplon, 97490 Saint-Clotilde</span> Île de la Réunion</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+262 41 22 86</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p>
                    <a href="marmiteschool@gmail.com">marmiteschool@gmail.com</a>
                </p>
            </div>

        </div>

        <div class="footer-right">

            <div class="footer-company-about">
                <span> Rejoignez nos ateliers ! </span>
                
               
                
                    <p>Des ateliers disponibles pour les élèves à partir de 12 ans et pour les particuliers. </p>

                    <p>Apprenez à cuisiner simplement des plats qui sauront épater vos proches ! </p>
                
            
            </div>

            <div class="footer-icons">

                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>

            </div>

        </div>

    </footer>