
<nav class="bg-transparent nav-views navbar navbar-expand-lg navbar-light h-251" id="mainNav">
    <div class="container">
      <img class="navbar-brand js-scroll-trigger" href="#page-top" src="/images/logo.png" width="90" height="100" alt="Logo du site">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/utilisateurs" >Accueil</a>
        </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/ateliers">Ateliers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/utilisateurs/logout">Se déconnecter</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/reservations/liste">Mon panier</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>