<nav class="bg-transparent  navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container">
    <img class="navbar-brand js-scroll-trigger" href="#page-top" src="/images/logo.png" width="90" height="100" alt="Logo du site">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/ateliers">Ateliers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/utilisateurs/ajoutuser">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/utilisateurs/login">Se connecter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/utilisateurs/logout">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>