<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Formation Cuisine</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>

<body class="accueil">

  <!-- <script src="/views/script.js"></script> -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container">
        <img class="navbar-brand js-scroll-trigger" href="#page-top" src="/images/logo.png" width="90" height="100" alt="Logo du site">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Accueil</a>
            </li>
           <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/ateliers">Ateliers</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/utilisateurs/ajoutuser">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/utilisateurs/login">Se connecter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                  </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Votre centre de formation de cuisine préféré est ici !</strong>
            </h1>
            <a class="btn btn-primary btn-xl js-scroll-trigger mt-5" href="/ateliers">Les Ateliers</a>

          </div>

        </div>
      </div>

    </header>

    <main class="text-center text-white d-flex">


      <div class="container my-auto">

        <div class="row">
          <div class="col-lg-10 mx-auto prop" id="about">

            <h1 class="text-uppercase prop">
              <strong>À PROPOS DE NOUS</strong>
            </h1>

           <strong> <p class="text-faded mb-5 mt-5">Nous sommes un centre de formation de cuisine qui propose des ateliers à nos élèves à partir de 12 ans, mais
              aussi à des particuliers.</p>
            <p class="text-faded mt-5">Vous avez entre 25 - 35 ans et vous voulez apprendre à cuisiner afin de manger correctement ? 
              <br /> N'hésitez plus et rejoigner-nous !</p> </strong>

          </div>
        </div>
      </div>

      <!-- /BOUTON SCROLL BACK TO TOP -->

      <!-- <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a> -->



    </main>

    <!-- Image and text
  <div class="container">
    <div class="row justify-content-center">

      <img src="/images/logo.png" width="90" height="90" alt="Logo du site">
    </div>

  </div>

  <ul class="nav justify-content-center bg-light mt-5">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">A propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul> -->





    <!-- <h1>
        <%= title %>
      </h1>
      <p>Welcome to
        <%= title %>
      </p>
     -->
    <div class="container">
      <div class="row text-center justify-content-center">
        <h3 class="cont">CONTACT</h3>
      </div>
    </div>


     <footer class="footer-distributed" id="contact">

			<div class="footer-left">

				<h3>Formation<span>Cuisine</span></h3>


				<p class="footer-company-name">FormationCuisine &copy; - 2018</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Revolution Street</span> Paris, France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>




  </body>

</html>