<!DOCTYPE html>
<html lang="fr">

<head>
  <% include ../partials/head %>
</head>

<body>

    <nav class="bg-transparent nav-views navbar navbar-expand-lg navbar-light h-250" id="mainNav">
        <div class="container">
          <img class="navbar-brand js-scroll-trigger" href="#page-top" src="/images/logo.png" width="90" height="100" alt="Logo du site">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/ateliers">Ateliers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/utilisateurs/ajoutuser">S'inscrire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/utilisateurs/login">Se connecter</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/utilisateurs/logout">Se déconnecter</a>
              </li>
              <li>Bienvenue <%=user.prenom%></li>
            </ul>
          </div>
        </div>
      </nav>


    <header class="mt-5 text-center">
      <h1 class="text-uppercase">
        <strong>Bienvenue Chef
          <%= user.prenom %>
        </strong>
      </h1>
    </header>

    <main class="container text-center">
      <div class="row">
        <div class="col-lg-10 mt-5">

          <ul class="list-group">
            <li class="list-group-item">
              <a href="/ateliers">Liste des Ateliers</a>
            </li>
            <li class="list-group-item">
              <a href="/ateliers/ajoutatelier">Ajouter un atelier</a>
            </li>
            <li class="list-group-item">
              <a href="/utilisateurs/liste">Liste des utilisateurs</a>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <% include ../partials/footer %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>




</body>

</html>