<!doctype html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/nav %>
    </header>

    <main>

        <div class="container">
            <div class="row text-center justify-content-center">

                <form class="col-lg-10 m-4" action="/utilisateurs/save" method="POST">
                    <h1>S'inscrire</h1>
                    <!-- <div class="row"> -->
                        <div class="col form-group">
                            <label for="username">Nom :</label>
                            <input placeholder="Dupont" type="text" class="form-control" name="nom">
                        </div>
                        <div class="col form-group">
                            <label for="username">Prénom :</label>
                            <input type="text" placeholder="Alfred" class="form-control" name="prenom">
                        </div>
                    <!-- </div> -->
                    <!-- <div class="row"> -->
                        <div class="col form-group">
                            <label for="username">Email :</label>
                            <input type="email" placeholder="email@email.com" class="form-control" name="email">
                        </div>
                        <div class="col form-group">
                            <label for="username">téléphone :</label>
                            <input type="text" placeholder="0262 22 22 22" class="form-control" name="telephone">
                        </div>
                    <!-- </div> -->
                    <!-- <div class="row"> -->
                        <div class="col form-group">
                            <label>Je suis :</label>
                            <select class="form-control" name="type">
                                <option>Particulier</option>
                                <option>Cuisinier</option>
                            </select>
                        </div>
                        <div class="col form-group">
                            <label for="username">Specialité (si cuisinier) :</label>
                            <input type="text" placeholder="Chef-cuisinier" class="form-control" name="specialite">
                        </div>
                    <!-- </div> -->

                    <!-- <div class="row"> -->
                        <div class="col form-group">
                            <label for="password">Choisir un mot de passe :</label>
                            <input type="password" placeholder="******" class="form-control" name="password">
                        </div>
                        <div class="col form-group">
                            <label for="passwordConf">Confirmer le mot de passe :</label>
                            <input type="password" placeholder="******" class="form-control" name="passwordConfirmation">
                        </div>
                    <!-- </div> -->
                    <button type="submit" class="btn text-light mt-4">Enregistrer</button>

                </form>

                <div class="col-lg-8">
                    <a href="/utilisateurs/login">Déjà inscrit</a>
                </div>
            </div>

        </div>


    </main>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>