var ateliers = "";

<% atelier.forEach(function(element){%>
    ateliers += "<option value='<%=element._id%>' ><%= element.titre%></option>"
<%})%>

$(document).ready(function() { 
    $("#selectatelier").html(ateliers);
});