<!doctype html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link href="/stylesheets/liste.css" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
</head>

<body>

    <header>
        <% include ../partials/nav %>
    </header>



    <div class="row align-items-center justify-content-center my-5">
        <div class="col-lg-5">

            <p>Inscris toi pour pouvoir suivre nos cours</p>

            <form class=" m-4" action="/particuliers/save" method="POST">
                <h1>S'inscrire</h1>
                <div class="form-group">
                    <label for="username">Nom :</label>
                    <input type="text" class="form-control" name="nom">
                </div>
                <div class="form-group">
                    <label for="username">Prénom :</label>
                    <input type="text" class="form-control" name="prenom">
                </div>
                <div class="form-group">
                    <label for="username">Email :</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="username">téléphone :</label>
                    <input type="number" class="form-control" name="telephone">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label for="passwordConf">Confirm password:</label>
                    <input type="password" class="form-control" name="passwordConfirmation">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>



        <div class="col-lg-5">
            <p>Connecte toi</p>

            <form class=" m-4" action="/particuliers/auth" method="POST">
                <h1>Se connecter</h1>
                <div class="form-group">
                    <label for="Username">Email:</label>
                    <input type="text" class="form-control" name="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>

    <div class="container">

        <footer class="footer-distributed bg-light" id="contact">

            <div class="footer-left">

                <h3>Company
                    <span>logo</span>
                </h3>


                <p class="footer-company-name">Company Name &copy; 2018</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p>
                        <span>21 Revolution Street</span> Paris, France</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+1 555 123456</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p>
                        <a href="mailto:support@company.com">support@company.com</a>
                    </p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>

                <div class="footer-icons">

                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-github"></i>
                    </a>

                </div>

            </div>

        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>